<div class="grid w-full h-full max-w-2xl grid-cols-1 px-4 py-8 mx-auto md:grid-cols-2 sm:px-8 md:px-12 lg:px-16">
    <div class="flex items-center gap-x-4">
        <div class="flex flex-col items-center justify-center flex-shrink-0 w-32 h-32 transition-transform duration-100 transform scale-100 bg-gray-900 border-2 border-gray-400 rounded-full select-none hover:scale-105">
            <span class="font-mono text-white leading-14 text-7xl">7</span>
            <span class="text-base font-display text-violet-400">Years</span>
        </div>
        <h5 class="flex-shrink text-3xl text-gray-600 md:text-5xl font-display line-clamp-1">
            Web Developer
        </h5>
    </div>
    <div class="mt-4">
        <ul class="flex flex-col items-stretch gap-4">
            <li>
                <gcs-tech-list-item imageUrl="/assets/dotnet-core.png"
                                    title="Dotnet Core and Asp.Net Core"
                                    description="Developing web APIs, worker services using dotnet Core.">
                </gcs-tech-list-item>
            </li>
            <li>
                <gcs-tech-list-item imageUrl="/assets/docker.png"
                                    title="Containerization with Docker"
                                    description="Packaging apps as docker containers and building compose applications">
                </gcs-tech-list-item>
            </li>
            <li>
                <gcs-tech-list-item imageUrl="/assets/angular.svg"
                                    title="Angular/AngularJS Front Ends"
                                    description="Developing UIs with angular. Additional tools: Nx, Ngrx, tailwindcss, etc">
                </gcs-tech-list-item>
            </li>
            <li>
                <gcs-tech-list-item imageUrl="/assets/sql-server.svg"
                                    title="SQL Server Database Design"
                                    description="Designing and managing SQL server databases and query optimization.">
                </gcs-tech-list-item>
            </li>
        </ul>
    </div>
</div>