<div class="grid w-full h-full grid-cols-1 px-4 py-8 mx-auto md:grid-cols-2 sm:px-8 md:px-12 lg:px-16">
    <div class="flex flex-col px-8 py-12 gap-y-8 md:col-span-2">
        <div class="">
            <h4 class="text-2xl text-gray-400 font-display">HELLO, I AM</h4>
        </div>
        <div class="flex items-center gap-x-8">
            <h2 class="flex-shrink text-6xl line-clamp-1 font-title text-violet-900 dark:text-violet-200">
                <span class="text-violet-700 dark:text-violet-400">Gerald</span>
                &nbsp;
                <span class="font-normal">Chifanzwa</span>
            </h2>
        </div>
        <div class="text-lg text-gray-600 dark:text-gray-500 font-title">
            <span>dotnet / web developer</span>
        </div>
    </div>
</div>