<div class="grid w-full h-full grid-cols-1 md:grid-cols-2">
    <div class="flex flex-col px-8 py-12 md:col-span-2">
        <div class="">
            <h4 class="text-2xl text-gray-400 font-display">HELLO, I AM</h4>
        </div>
        <div class="flex items-center gap-x-8">
            <h2 class="flex-shrink text-6xl line-clamp-1 font-title text-violet-900 dark:text-violet-200">
                <span class="text-violet-700">Gerald</span>
                &nbsp;
                <span class="font-normal">Chifanzwa</span>
            </h2>
        </div>
    </div>
    <div class="px-8 py-4 bg-white dark:bg-gray-800">
        <div class="flex items-center gap-x-4">
            <div class="flex flex-col items-center justify-center flex-shrink-0 w-32 h-32 transition-transform duration-100 transform scale-100 bg-gray-900 border-2 border-gray-400 rounded-full select-none hover:scale-105">
                <span class="font-mono text-white leading-14 text-7xl">7</span>
                <span class="text-base font-display text-violet-400">Years</span>
            </div>
            <h5 class="flex-shrink text-3xl text-gray-600 md:text-5xl font-display line-clamp-1">
                Web Developer
            </h5>
        </div>
        <div class="mt-4">
            <ul class="flex flex-col items-stretch gap-4">
                <li>
                    <gcs-tech-list-item imageUrl="/assets/dotnet-core.png"
                                        title="Dotnet Core and Asp.Net Core"
                                        description="Developing web APIs, worker services using dotnet Core.">
                    </gcs-tech-list-item>
                </li>
                <li>
                    <gcs-tech-list-item imageUrl="/assets/docker.png"
                                        title="Containerization with Docker"
                                        description="Packaging apps as docker containers and building compose applications">
                    </gcs-tech-list-item>
                </li>
                <li>
                    <gcs-tech-list-item imageUrl="/assets/angular.svg"
                                        title="Angular/AngularJS Front Ends"
                                        description="Developing UIs with angular. Additional tools: Nx, Ngrx, tailwindcss, etc">
                    </gcs-tech-list-item>
                </li>
                <li>
                    <gcs-tech-list-item imageUrl="/assets/sql-server.svg"
                                        title="SQL Server Database Design"
                                        description="Designing and managing SQL server databases and query optimization.">
                    </gcs-tech-list-item>
                </li>
            </ul>
        </div>
    </div>
</div>